name: build_embedded

on:   
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_embedded_secure:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: install ninja
      run: |
        sudo apt-get -y install ninja-build
    - name: Build
      run: |
        curl https://raw.githubusercontent.com/Cascoda/cascoda-sdk/master/etc/arm_gnu_toolchain_setup.sh | bash; source /etc/profile
        cd EXAMPLE
        ls
        chmod +x ./build_win_bin_ninja.sh
        ./build_win_bin_ninja.sh
    # - name: Upload
    #   uses: actions/upload-artifact@v3
    #   with:
    #     name: embedded_secured
    #     path: |
    #        ./EXAMPLE/build_win_bin/*/*.bin
    #        ./*.md
    #        ./*/*.md
    #        ./*/*/*.jpg
    #        ./*/*/*.PNG
    #        ./*/MT/*.knxproj

  build_embedded_unsecure:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: install ninja
      run: |
        sudo apt-get -y install ninja-build
    - name: Build
      run: |
        curl https://raw.githubusercontent.com/Cascoda/cascoda-sdk/master/etc/arm_gnu_toolchain_setup.sh | bash; source /etc/profile
        cd EXAMPLE
        ls
    #     chmod +x ./EXAMPLE/build_win_bin_ninja_unsecured.sh
    #     ./EXAMPLE/build_win_bin_ninja_unsecured.sh
    # - name: Upload unsecured binaries
    #   uses: actions/upload-artifact@v3
    #   with:
    #     name: embedded_unsecured
    #     path: |
    #        ./build_w_b_u/*/*.bin
    #        ./*.md
    #        ./*/*.md
    #        ./*/*/*.jpg
    #        ./*/*/*.PNG
    #        ./*/MT/*.knxproj

        #retention-days: 5